
html {
    font-family: 'Roboto', sans-serif;
    color: rgb(41, 41, 71);
    font-size: 1.3em;
    text-align: justify;
    background-color: rgb(56, 56, 99); 
}

header, section, aside, footer, nav, article, figure, figcaption, hgroup {
    display: block;
}

body {
    text-align: center;
}

.container {
    background: rgba(230, 230, 250, 1);
}
.contenedor {
    max-width: 1024px;
    margin: 0px auto;
    text-align: left;
    background-color: #c7d8fc;
}

.header {
    background-color: #180ca1;
    border: 1px solid #999;
    color: #fff;
    padding: 20px;
}

.nav {
    background-color: #fff;
    padding: 5px 15px;
}

.nav li {
    display: inline-block;
    list-style: none;
    margin: 5px;
    width:fit-content;
    font: bold 12px verdana, sans-serif;
}

.nav li :hover {
    background-color: #180ca1;
    color: #fff;
}

.main {
    float: left;
    max-width: 600px;
    min-width: 264px;
    height: auto;
    margin: 10px 20px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(12, 4, 73, .7);
}


/*
***********  INICIO ***********
******* IMÁGENES (EBOOK) ********
*/
.conocmar figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 0%;
    max-width: 400px;
    max-height: 400px;
    margin: 10px auto 60px;
    box-shadow: 10px 10px 10px hwb(228 23% 50% / 0.60);
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
}

.conocmar img {
    max-width: 400px;
    max-height: 400px;
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
}

.conocmar figcaption {
    background-color: hwb(240 5% 81% / 0.812);
    border: thin #c0c0c0 solid;
    color: aliceblue;
    font-style: italic;
    font-size: smaller;
    text-align: center;
    padding: 3px;    
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
    box-shadow: 10px 10px 10px hwb(228 23% 50% / 0.60);
}

/*
***********  TÉRMINO ***********
******* IMÁGENES (EBOOK) ********
*/

.capitulos {
    background-color: #ffffff;
    border: 1px solid #c5efff;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 5px 5px 10px rgba(12, 4, 73, .7);
}

.capitulos img {
    width: 100%;
    height: auto;
    border: solid 1px #c7d8fc;
}

.next-chapters {
    width: auto;
    display: block;
}

.next-chapter-card {
    width: 250px;
    float: left;
    background-color: #ffffff;
    border: 1px solid #c5efff;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 5px;
    box-shadow: 5px 5px 10px rgba(12, 4, 73, .7);
}

.next-chapter-card img {
    width: 210px;
}

.aside {
    float: left;
    width: 264px;
    height: auto;
    margin: 10px 20px 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(12, 4, 73, .7);
}

.nav-aside {
    background-color: #fff;
    padding: 5px 15px;
}

.nav-aside li {
    display: block;
    list-style: none;
    margin: 5px;
    width:fit-content;
    font: bold 12px verdana, sans-serif;
}

.nav-aside li :hover {
    background-color: #180ca1;
    color: #fff;
}

.aside section {
    background-color: #ffffff;
    border: 1px solid #c5efff;
    border-radius: 10px;
    padding: 15px;
    margin: 15px auto;
    box-shadow: 5px 5px 10px rgba(12, 4, 73, .7);
}

.footer {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 1.5px solid #180ca1;
    background-color: rgb(12, 4, 73);
    color: #fff;
}

#img-footer {
    display: inline-block;
    width: 80px;
}

#img-footer-2 {
    height:80px;
}